/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Default Layer";
            bindings = <
&kp N1         &kp N2  &kp N3  &kp N4      &kp N5          &kp N6                                  &kp N7  &kp N8           &kp N9     &kp N0    &kp UNDER         &kp PLUS
&kp Q          &kp W   &kp E   &kp R       &kp T           &kp Y                                   &kp U   &kp I            &kp O      &kp P     &kp LEFT_BRACKET  &kp RIGHT_BRACKET
&kp A          &kp S   &kp D   &kp F       &kp G           &kp H                                   &kp J   &kp K            &kp L      &kp SEMI  &kp SINGLE_QUOTE  &kp NON_US_BACKSLASH
&kp LESS_THAN  &kp Z   &kp X   &kp C       &kp V           &kp B      &kp DELETE    &kp BACKSPACE  &kp N   &kp M            &kp COMMA  &kp DOT   &kp FSLH          &kp RET
                               &kp ESCAPE  &kp LEFT_SHIFT  &kp LCTRL  &kp SPACE     &kp SPACE      &mo 1   &kp RIGHT_SHIFT  &kp RALT
            >;
        };

        lower_layer {
            display-name = "Lower Layer";
            bindings = <
&kp F1        &kp F2  &kp F3  &kp F4  &kp F5  &kp F6                              &kp F7           &kp F8          &kp F9          &kp F10          &kp F11  &kp F12
&kp TAB       &none   &none   &none   &none   &none                               &kp PRINTSCREEN  &none           &kp UP_ARROW    &kp HOME         &kp END  &kp PAGE_UP
&kp CAPSLOCK  &none   &none   &none   &none   &none                               &none            &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &none    &kp PAGE_DOWN
&kp LEFT_GUI  &none   &none   &none   &none   &none   &kp BACKSPACE    &kp DEL    &none            &none           &none           &none            &none    &none
                              &none   &none   &none   &kp SPACE        &kp SPACE  &none            &none           &none
            >;
        };
    };
};
